%h1 Listing bills


%h2 最近簽發的帳單
%table
  %thead
    %tr
      %th
      %th.show-for-medium-up 日期
      %th 付款人
      %th 項目名稱
      %th 總額
      %th 狀態
      %th 操作
  %tbody
    - d_c = 0
    - @recent_debtors.each do |debtor|
      - d_c += 1
      - bill_id_s = ''
      %tr.detail{class: "bill_mybill_#{d_c}"}
        %td{colspan: "7"}
          .paper.list
            %table
              %col{width: "80"}
              %col{width: "200"}
              %col{width: "100"}
              %col{width: "70"}
              %col{width: "80"}
              %thead
                %tr
                  %th 日期
                  %th 項目
                  %th 單價
                  %th 數量
                  %th 金額
                  %th 狀態
                  %th 動作
              %tbody#bill_table.bill_table
                - subtotal = 0
                - debtor.bills.recent_and_payed?.where(payee: current_user.id).each do |bill|
                  - subtotal += bill.unit_price.to_i*bill.quantity.to_i
                  - bill_id_s += bill.id.to_s + ','
                  %tr.bill_row
                    %td= bill.updated_at.strftime('%Y 年 %-m 月 %e 日')
                    %td
                      .input.name= bill.name
                      .textarea.description= bill.description
                    %td
                      / %span.show-for-medium-up NT$
                      .input.unit_price= bill.unit_price
                    %td
                      .input.quantity= bill.quantity
                    %td
                      NT$
                      %span.total_price= bill.unit_price.to_i*bill.quantity.to_i
                      - #loso
                    %td= raw state_tag bill.state
                    %td
                      NT$
                      %span.total_price= bill.unit_price.to_i*bill.quantity.to_i
      %tr.title{class: "bill_mybill_#{d_c}", onclick: "$('.bill_mybill_#{d_c}').toggleClass('open')"}
        %td
          .collapse= image_tag('orbital_arrow_right.png')
        %td.show-for-medium-up.earliest_date
        %td= debtor.name
        %td.names
        %td.subtotal= subtotal
        %td.state
          %span.label.new New
        %td
          = #link_to '嗨', update_bill_path(1), {controller: "bills", method:  "update", bill: "23847293", state: "adk" }
          = #button_to 'My link',bills_update_state_path(multiple: "multiple", bill_ids: bill_id_s, state: 'Canceled')
          = form_tag bills_update_state_path do |f|
            = hidden_field_tag :multiple => 'multiple'
            = hidden_field_tag :bill_ids => bill_id_s
            = hidden_field_tag :state => 'Canceled'
            = submit_tag "撤銷", data: { confirm: "確定撤銷？此動作無法復原。" }




%table
  %tr
    %th Name
    %th Description
    %th Unit price
    %th Quantity
    %th Total price
    %th
    %th
    %th

  - @bills.each do |bill|
    %tr
      %td= bill.name
      %td= bill.description
      %td= bill.unit_price
      %td= bill.quantity
      %td= bill.total_price
      %td= link_to 'Show', bill
      %td= link_to 'Edit', edit_bill_path(bill)
      %td= link_to 'Destroy', bill, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
%table
  %tr
    %th Name
    %th Description
    %th Unit price
    %th Quantity
    %th Total price
    %th
    %th
    %th

  - @charges.each do |bill|
    %tr
      %td= bill.name
      %td= bill.description
      %td= bill.unit_price
      %td= bill.quantity
      %td= bill.total_price
      %td= link_to 'Show', bill
      %td= link_to 'Edit', edit_bill_path(bill)
      %td= link_to 'Destroy', bill, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Bill', new_bill_path

:javascript
  $.fn.moveUp = function() {
    $.each(this, function() {
      $(this).after($(this).prev());
    });
  };
  $("tr.title").moveUp();
