%h1 Listing bills

%table
  %tr
    %th Name
    %th Description
    %th Unit price
    %th Quantity
    %th Total price
    %th
    %th
    %th

  - @bills.each do |bill|
    %tr
      %td= bill.name
      %td= bill.description
      %td= bill.unit_price
      %td= bill.quantity
      %td= bill.total_price
      %td= link_to 'Show', bill
      %td= link_to 'Edit', edit_bill_path(bill)
      %td= link_to 'Destroy', bill, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Bill', new_bill_path
