%h1 新帳單

= form_for @bill do |f|
  - if @bill.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bill.errors.count, "error")} prohibited this bill from being saved:"
      %ul
        - @bill.errors.full_messages.each do |msg|
          %li= msg
  .paper
    .select-payers
      %select#payers.placeholder{name: "payers[]", multiple: "multiple", style: "min-width: 300px;", size: 99999, required: "required"}
        - @friends.each do |friend|
          %option{value: "#{friend['id']}"}= friend['name']
    .split
      %label
        %input.split{type: "radio", name: "split", value: "no-split"} 個別支付
      %label
        %input.split{type: "radio", name: "split", value: "split", checked: "true"} 均分
      %label
        %input.add_me{type: "checkbox", name: "add-me", value: "yes"} 算我一份
    %table
      %col{width: "200"}
      %col{width: "100"}
      %col{width: "70"}
      %col{width: "80"}
      %thead
        %tr
          %th 項目
          %th 單價
          %th 數量
          %th 金額
      %tbody#bill_table.bill_table
        %tr#bill_row_0.bill_row
          %td
            %input.name{name: "bill[0][name]", type: "text", placeholder: "項目名稱", required: "required"}
            %textarea.description{name: "bill[0][description]", placeholder: "描述、備註 (選填)", onkeyup: "autogrow(this);"}
          %td
            / %span.show-for-medium-up NT$
            %input.unit_price{style: "display: inline-block;", name: "bill[0][unit_price]", type: "number", min: 0, step: 'any'}
          %td
            %input.quantity{name: "bill[0][quantity]", type: "number", min: 1, value: 1}
          %td
            NT$
            %span.total_price
            %input.total_price{name: "bill[0][total_price]", type: "hidden"}
            .row_action
              .delete_row_button -
              .add_row_button{onclick: 'addRow();'} +
        %tr#new_row.total_row
          %td
          %td
          %td
          %td
            .subtotal_c
              總計：NT$
              %span.subtotal 0
              %span.split.show_splid
                %br
                每人支付：總額
                \/
                %span.splits 0
                \= NT$
                %span.split_total 0
                (均分)
              %span.split.show_no_splid
                %br
                合計收取：總額
                ×
                %span.splits 0
                \= NT$
                %span.split_total 0
    .from
      = current_user.name

    %input#bills_c{name: "total[bills]", type: "hidden", value: 1}
    %input#payers_c{name: "total[payers]", type: "hidden", value: 0}
    %input#splits_to{name: "total[splits_to]", type: "hidden", value: 0}
    / = f.text_field :payer
  .actions
    = link_to '取消', bills_path, class: "button alert", :data => { :confirm => 'Are you sure?' }
    　
    = f.submit '簽發', class: "button"


:javascript

  $(document).ready(function() {
    $(window).keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        return false;
      }
    });
  });

  function format(friend) {
  console.log(friend)
    if (!friend.id) return id.text;
    return '<img src="https://graph.facebook.com/' + friend.id + '/picture?width=50&height=50"> ' + friend.text;
  }
  $("#payers").select2({
    placeholder: "付款人",
    formatResult: format,
    formatSelection: format,
  });

  function addRow() {
    $("#bill_row_0").clone().attr("id","newRowId").appendTo("#bill_table");
    $("#new_row").appendTo("#bill_table");
    $("#newRowId textarea").css('height', 'auto');
    $("#newRowId textarea").val('');
    $("#newRowId input").val('');
    $("#newRowId input.quantity").val('1');
    updateFrom();
  }

  $('#payers').change(updateFromValues);

  function updateFromValues() {
    if ($('#payers').val()) {
      $('#payers_c').val($('#payers').val().length);
    } else {
      $('#payers_c').val(0);
    }

    if ($('#payers_c').val() > 1) {
      $('.split').removeClass('hidden');
      if ($('input.split:checked').val() == 'split') {
        $("input.add_me").removeClass("hidden");
        if ($('input.add_me').prop('checked')) {
          split = parseInt($('#payers_c').val()) + 1;
        } else {
          split = $('#payers_c').val();
        }
        $('.show_splid').removeClass('hidden');
        $('.show_no_splid').addClass('hidden');
        $('.show_splid .splits').html(split);
      } else {
        $("input.add_me").addClass("hidden");
        split = 1;
        $('.show_splid').addClass('hidden');
        $('.show_no_splid').removeClass('hidden');
      }
    } else {
      $('.split').addClass('hidden');
      split = 1;
    }

    subtotal = 0;
    console.log('sd');
    $(".bill_row").each(function(){
      total_price = $(this).children('td').children('.unit_price').val() * $(this).children('td').children('.quantity').val();
      $(this).children('td').children('.total_price').val(total_price/split);
      $(this).children('td').children('span.total_price').html(total_price);
      subtotal += total_price;
    });

    $('.subtotal').html(subtotal);
    if (split > 1) {
      $('.show_splid .split_total').html(subtotal/split);
    } else if ($('#payers_c').val() > 1) {
      $('.show_no_splid .split_total').html(subtotal*$('#payers_c').val());
      $('.show_no_splid .splits').html($('#payers_c').val());
    }
    $('input#splits_to').val(split);
  }

  function updateFrom() {
    $('.delete_row_button').bind('click', function(){ $(this).parent().parent().parent().remove(); updateFrom(); });
    $('input').unbind('keyup');
    $('input').unbind('keydown');
    $('input').bind('keyup', updateFromValues);
    $('input').bind('keydown', updateFromValues);
    $('input').change(updateFromValues);
    $('#bills_c').val($('.bill_row').length);
    if ($('#bills_c').val() == 1) {
      $('.delete_row_button').addClass('hidden');
    } else {
      $('.delete_row_button').removeClass('hidden');
    }
    i = 0;
    $(".bill_row").each(function(){
      $(this).attr('id', 'bill_row_' + i);
      $(this).children('td').children('.name').attr('name', 'bill[' + i + '][name]');
      $(this).children('td').children('.description').attr('name', 'bill[' + i + '][description]');
      $(this).children('td').children('.unit_price').attr('name', 'bill[' + i + '][unit_price]');
      $(this).children('td').children('.quantity').attr('name', 'bill[' + i + '][quantity]');
      $(this).children('td').children('.total_price').attr('name', 'bill[' + i + '][total_price]');
      i++;
    });
    updateFromValues();
  }
  updateFrom();

  function autogrow(textarea){
    var adjustedHeight=textarea.clientHeight;
    adjustedHeight=Math.max(textarea.scrollHeight,adjustedHeight);
    if (adjustedHeight>textarea.clientHeight){
      textarea.style.height=adjustedHeight+'px';
    }
  }
